<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>movieServer</display-name>

    <servlet>
        <servlet-name>apiServlet</servlet-name>
        <servlet-class>com.movies.MainApiServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>apiServlet</servlet-name>
        <url-pattern>/discover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiServlet</servlet-name>
        <url-pattern>/movie/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiServlet</servlet-name>
        <url-pattern>/genrevote/*</url-pattern>
    </servlet-mapping>
</web-app>
